<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Please sign in</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet"/>
</head>

<body>
<div class="flex items-center justify-center min-h-screen bg-gray-100">
	<div class="container mx-auto max-w-md px-4">
		<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" th:action="@{/login}">
			<div class="text-center mb-8">
				<h2 class="text-2xl font-bold">Welcome to the Java Talks</h2>
				<img src="/logo.png" alt="Java Talks Logo" class="mx-auto h-24 mt-4 mb-8">
			</div>
			<div th:if="${param.error}" class="alert alert-danger mb-4" role="alert">
				Invalid username and password.
			</div>
			<div th:if="${param.logout}" class="alert alert-success mb-4" role="alert">
				You have been logged out.
			</div>
			<div class="mb-4">
				<label for="username" class="sr-only">Username</label>
				<input type="text" id="username" name="username" class="form-control bg-gray-100 border border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:border-indigo-500 w-full" placeholder="Username" required autofocus>
			</div>
			<div class="mb-6">
				<label for="password" class="sr-only">Password</label>
				<input type="password" id="password" name="password" class="form-control bg-gray-100 border border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:border-indigo-500 w-full" placeholder="Password" required>
			</div>
			<div class="text-center">
				<button class="bg-f89820 hover:bg-e87f00 text-white font-bold py-2 px-4 rounded w-full" type="submit" style="background-color: #f89820; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#e87f00';" onmouseout="this.style.backgroundColor='#f89820';">Sign in</button>
			</div>
			<div class="text-center mt-8">
				<button th:onclick="|window.location.href='/oauth2/authorization/google'|"
						class="w-full bg-indigo-500 border border-[#2952E1] text-white focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center flex items-center justify-center gap-4" type="button" >Log in with Google</button>
			</div>
		</form>
	</div>
</div>
</body>

</html>
